
*{
margin: 0;
padding: 0;
box-sizing: border-box;
}
.formp {
    text-align: center;
  
    font-size: 15px;
}

.formpa {
    text-align: center;
    
    font-size: 15px;
   
   
}
form input {
    width: 100%;
    padding: 7px;
    border: none;
    border: 1px solid gray;
    border-radius: 6px;
    outline: none;

}
 h2 {
    text-align: center;
    padding-top: 15px;
    color: #555;
    font-weight: 800;
}
 h2::after{
    content: "";
      height: 5px;
     width: 150px;
     background-color: #198754;
     border-radius: 25px;
     display: block;
     margin: auto; 
   
   }

   input {
    width: 100%;
    padding: 7px;
    border: none;
    border: 1px solid gray;
    border-radius: 6px;
    outline: none;

}